# Global
*
!.gitignore

# Folders
!/.vscode
!/assets
!/declarations
!/src

# Files
!/.eslintrc.json
!/.prettierignore
!/.yarnrc.yml
!/package.json
!/tsconfig.json
!/yarn.lock

# Generated
!/.yarn
!/.yarn/plugins
!/.yarn/plugins/**/*
!/.yarn/releases
!/.yarn/releases/**/*
